#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "infinite",
    cache_dir: None,
    lyrics_dir: "~/Music",
    on_song_change: ["~/.config/rmpc/notify.sh"],
    volume_step: 5,
    max_fps: 144,
    scrolloff: 5,
    wrap_navigation: true,
    enable_mouse: false,
    status_update_interval_ms: 1000,
    select_current_song_on_change: false,
    album_art: (
        method: Kitty,
        max_size_px: (width: 0, height: 0),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Bottom,
        horizontal_align: Left,
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            "s":       Stop,
            ".":       VolumeUp,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("queue"),
            "2":       SwitchToTab("files"),
            "3":       SwitchToTab("albums"),
            "4":       SwitchToTab("playlists"),
            "5":       SwitchToTab("search"),
            "q":       Quit,
            ">":       NextTrack,
            "p":       TogglePause,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "z":       ToggleRepeat,
            "x":       ToggleRandom,
            "c":       ToggleConsume,
            "v":       ToggleSingle,
            "b":       SeekBack,
            "~":       ShowHelp,
            "I":       ShowCurrentSongInfo,
            "O":       ShowOutputs,
            "P":       ShowDecoders,
        },
        navigation: {
            "k":         Up,
            "j":         Down,
            "h":         Left,
            "l":         Right,
            "<Up>":      Up,
            "<Down>":    Down,
            "<Left>":    Left,
            "<Right>":   Right,
            "<C-k>":     PaneUp,
            "<C-j>":     PaneDown,
            "<C-h>":     PaneLeft,
            "<C-l>":     PaneRight,
            "<C-u>":     UpHalf,
            "N":         PreviousResult,
            "a":         Add,
            "A":         AddAll,
            "r":         Rename,
            "n":         NextResult,
            "g":         Top,
            "<Space>":   Select,
            "<C-Space>": InvertSelection,
            "G":         Bottom,
            "<CR>":      Confirm,
            "i":         FocusInput,
            "J":         MoveDown,
            "<C-d>":     DownHalf,
            "/":         EnterSearch,
            "<C-c>":     Close,
            "<Esc>":     Close,
            "K":         MoveUp,
            "D":         Delete,
        },
        queue: {
            "D":       DeleteAll,
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "i":       ShowInfo,
            "C":       JumpToCurrent,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "any"),
            (value: "artist",      label: "artist"),
            (value: "album",       label: "album"),
            (value: "albumartist", label: "albumartist"),
            (value: "title",       label: "title"),
            (value: "filename",    label: "filename"),
            (value: "genre",       label: "genre"),
        ],
    ),
    artists: (
        album_display_mode: SplitByDate,
        album_sort_by: Date,
    ),
    tabs: [
        (
            name: "queue",
            pane: Split(
                direction: Vertical,
                panes: [
                    (
                        size: "100%",
                        pane: Pane(Queue)
                    ),
                    (
                        size: "18",
                        pane: Split(
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "30",
                                    pane: Split(
                                        direction: Vertical,
                                        panes: [
                                            (
                                                size: "3",
                                                pane: Pane(Lyrics)),
                                            (
                                                size: "100%",
                                                pane: Pane(AlbumArt)
                                            ),
                                        ]
                                    ),
                                ),
                                (
                                    size: "100%",
                                    pane: Pane(Cava)
                                ),
                            ]
                        )
                    ),
                ],
            ),
        ),
        (
            name: "files",
            pane: Pane(Directories),
        ),
        (
            name: "albums",
            pane: Pane(Albums),
        ),
        (
            name: "playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "search",
            pane: Pane(Search),
        ),
    ],
    cava: (
        framerate: 144,
        autosens: true,
        sensitivity: 100,
        lower_cutoff_freq: 60,
        higher_cutoff_freq: 20000,
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            sample_rate: 44100,
            channels: 2,
            sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77,
            monstercat: false,
            waves: false,
        )
    )
)

