#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: false,
    format_tag_separator: " | ",
    browser_column_widths: [0, 50, 50],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    preview_label_style: (fg: "yellow"),
    preview_metadata_group_style: (fg: "yellow", modifiers: "Bold"),
    tab_bar: (),
    highlighted_item_style: (fg: "green"),
    current_item_style: (fg: "blue", bg: "black"),
    borders_style: (fg: "blue"),
    highlight_border_style: (fg: "blue"),
    symbols: (
        song: "󰝚",
        song_style: (fg: "blue"),
        dir: "󰉋",
        dir_style: (fg: "cyan"),
        playlist: "󰲸",
        playlist_style: (fg: "magenta"),
        marker: ">",
        ellipsis: "...",
    ),
    level_styles: (
        info: (fg: "blue", bg: "black"),
        warn: (fg: "yellow", bg: "black"),
        error: (fg: "red", bg: "black"),
        debug: (fg: "light_green", bg: "black"),
        trace: (fg: "magenta", bg: "black"),
    ),
    progress_bar: (
        symbols: ["", "━", "▇", "━", ""],
        track_style: (fg: "dark_gray"),
        elapsed_style: (fg: "blue"),
        thumb_style: (fg: "blue"),
    ),
    scrollbar: (
        symbols: ["│", "█", "", ""],
        track_style: (fg: "dark_gray"),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            width: "20%",
            label: "artist",
            prop: (
                kind: Property(Artist),
                default: (kind: Text("?"))
            ),
        ),
        (
            width: "30%",
            label: "name",
            prop: (
                kind: Property(Title),
                default: (kind: Property(Filename))
            ),
        ),
        (
            width: "50%",
            label: "album",
            prop: (
                kind: Property(Album),
                default: (kind: Text("?"))
            ),
        ),
        (
            width: "6",
            label: "len",
            alignment: Right,
            prop: (
                kind: Property(Duration),
                default: (kind: Text("?"))
            ),
        ),
    ],
    components: {},
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Split(
                    direction: Vertical,
                    panes: [
                        (
                            size: "2",
                            pane: Pane(Header),
                        ),
                        (
                            size: "1",
                            pane: Pane(ProgressBar),
                        ),
                    ]
                )
            ),
            (
                size: "100%",
                pane: Pane(TabContent),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    (
                        kind: Property(Song(Artist)),
                        style: (fg: "cyan"),
                        default: (
                            kind: Text("artist?"),
                            style: (fg: "cyan"),
                        ),
                    ),
                ],
                center: [
                    (
                        kind: Property(Song(Title)), 
                        style: (modifiers: "Bold"),
                        default: (
                            kind: Property(Song(Filename)),
                            style: (modifiers: "Bold"),
                            default: (
                                kind: Text("name?"),
                                style: (modifiers: "Bold"),
                            ),
                        ),
                    )
                ],
                right: [
                    (
                        kind: Property(Song(Album)),
                        style: (fg: "magenta"),
                        default: (
                            kind: Text("album?"),
                            style: (fg: "magenta"),
                        )
                    )
                ]
            ),
            (
                left: [
                    (kind: Property(Status(StateV2(
                        playing_label: "󰐊",
                        playing_style: (fg: "green"),
                        paused_label: "󰏤",
                        paused_style: (fg: "yellow"),
                        stopped_label: "󰓛",
                        stopped_style: (fg: "red"),
                    )))),
                    (kind: Text(" ")),
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" at ")),
                    (kind: Property(Status(Volume)), style: (fg: "blue")),
                    (kind: Text("%"), style: (fg: "blue")),
                ],
                center: [
                    (kind: Property(Status(RepeatV2(
                        on_label: "repeat",
                        on_style: (fg: "green"),
                        off_label: "repeat",
                        off_style: (fg: "dark_gray"),
                    )))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(RandomV2(
                        on_label: "random",
                        on_style: (fg: "green"),
                        off_label: "random",
                        off_style: (fg: "dark_gray"),
                    )))),
                ],
                right: [
                    (kind: Property(Status(ConsumeV2(
                        on_label: "remove",
                        on_style: (fg: "green"),
                        oneshot_label: "remove",
                        oneshot_style: (fg: "yellow"),
                        off_label: "remove",
                        off_style: (fg: "dark_gray"),
                    )))),
                    (kind: Text(" | ")),
                    (kind: Property(Status(SingleV2(
                        on_label: "single",
                        on_style: (fg: "green"),
                        oneshot_label: "single",
                        oneshot_style: (fg: "yellow"),
                        off_label: "single",
                        off_style: (fg: "dark_gray"),
                    )))),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
                (kind: Property(Title)),
                (kind: Text(" - ")),
                (kind: Property(Duration)),
            ]),
            default: (
                kind: Group([
                    (kind: Property(Filename)),
                    (kind: Text(" - ")),
                    (kind: Property(Duration)),
                ])
            ),
        )
    ],
    lyrics: (timestamp: false),
    cava: (
        inverted_bar_symbols: ['▔', '🮂', '🮃', '▀', '🮄', '🮅', '🮆', '█'],
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 2,
        bar_spacing: 0,
        orientation: Bottom,
        bar_color: Single("blue"),
    )
)
