{{- if not (eq .os "linux-arch") -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) installing official arch packages"

let pkgs = [
{{- range .packages.arch.official }}
    {{ . | quote -}}
{{ end }}
] | to text

if ($pkgs | is-empty) {
    exit
}

# dash at the end for the packages from stdin
$pkgs | paru -Sy --needed --noconfirm --useask --sudoloop --repo -
