[Unit]
Description=Kanata Service
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/home/d/.cargo/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/kanata --cfg /home/d/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target
