[[manager.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "chmod on selected files"

[[manager.prepend_keymap]]
on   = "<C-d>"
run  = "plugin diff"
desc = "diff the selected file with the hovered file"

