[user]
	name = {{ .git.user.name }}
	email = {{ .git.user.email }}
	signingkey = {{ .git.user.signingkey }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[commit]
	gpgsign = {{ .git.commit.gpgsign }}
	verbose = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	features = catppuccin-mocha
	side-by-side = true
[merge]
	conflictstyle = zdiff3
	ff = false
[diff]
	colorMoved = default
	algorithm = histogram
	submodule = log
[include]
	path = ~/.config/delta/themes/catppuccin-mocha.gitconfig
[status]
	submodulesummary = true
[submodule]
	recurse = true
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
	prune = true
[receive]
	fsckObjects = true
[log]
	date = iso
[branch]
	sort = -committerdate
[pull]
	ff = only
[tag]
	gpgsign = true
