@import "themes/catppuccin-mocha.css";
@import "font.css";
@import "default.css";

#workspaces button,
#clock,
#battery,
#language,
#network,
#window,
#backlight,
#keyboard-state,
#bluetooth,
#wireplumber,
#cava,
#mpd,
#tray {
    background-color: @base;
    color: @text;
}

#workspaces button.active {
    color: @green;
    border-color: @green;
}

#battery.charging {
    color: @green;
    border-color: @green;
}

#battery.charge-9, #battery.charge-19 {
    color: @red;
    border-color: @red;
}
