{{- if ne .os "linux-arch" -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) installing official arch packages"

let pkgs = [
{{- range .packages.arch.official }}
    {{ . | quote -}}
{{ end }}
] | to text

if ($pkgs | is-empty) {
    print $"(ansi gb)dotfiles:(ansi rst) package list is empty"
    exit
}

# dash at the end for the packages from stdin
let installed = ($pkgs | paru -Q - | complete)
if ($installed.exit_code == 0) {
    print $"(ansi gb)dotfiles:(ansi rst) packages are already installed"
    exit
}

# dash at the end for the packages from stdin
$pkgs | paru -Sy --needed --noconfirm --useask --sudoloop --repo -

print $"(ansi gb)dotfiles:(ansi rst) installed official arch packages"
