{{- if ne .os "linux-arch" -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) enabling cliphist"

systemctl --user enable --now cliphist-text.service
systemctl --user enable --now cliphist-images.service

print $"(ansi gb)dotfiles:(ansi rst) enabled cliphist"
