{{- $gitUserName := promptStringOnce . "git.user.name"
"git user name" -}}
{{- $gitUserEmail := promptStringOnce . "git.user.email"
"git user email" -}}
{{- $gitUserSigningkey := promptStringOnce . "git.user.signingkey"
"git user signingkey" -}}
{{- $gitCommitGpgsign := promptBoolOnce . "git.commit.gpgsign"
"git commit gpgsign" -}}

{{- $hosts := list "kaede" "yuki" -}}
{{- $host := promptChoiceOnce . "host" "host" $hosts -}}

{{- $os := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-     $os = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

data:
    os: {{ $os | quote }}
    host: {{ $host | quote }}
    git:
        user:
            name: {{ $gitUserName }}
            email: {{ $gitUserEmail }}
            signingkey: {{ $gitUserSigningkey }}
        commit:
            gpgsign: {{ $gitCommitGpgsign }}
