{{- if ne .os "linux-arch" -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) enabling swww"

systemctl --user enable --now swww.service

print $"(ansi gb)dotfiles:(ansi rst) enabled swww"
