{{- if ne .os "linux-arch" -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) enabling xwayland-satellite"

systemctl --user enable --now xwayland-satellite.service

print $"(ansi gb)dotfiles:(ansi rst) enabled xwayland-satellite"
