{{- if ne .os "linux-arch" -}} {{- abortEmpty -}} {{- end -}}
#!/usr/bin/env nu

print $"(ansi bb)dotfiles:(ansi rst) enabling syncthing"

systemctl --user enable --now syncthing.service

print $"(ansi gb)dotfiles:(ansi rst) enabled syncthing"
