@import "mocha.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-feature-settings: "cv02, cv11, cv22, cv25, cv26, cv32, cv28, ss04, ss06, ss07";
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button, #clock, #battery, #language, #network {
    background-color: @base;
    color: @text;

    padding: 4px 16px;
    margin: 0 4px;

    border-radius: 8px;
}

#workspaces button {
    border-color: @overlay0;
}

#workspaces button.active {
    border-color: @lavender;
}

#battery.charging {
    color: @green;
}

#battery.charge-9, #battery.charge-19 {
    color: @red;
}

