@import "mocha.css";

* {
  font-family: "FiraCode Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces button, #clock, #battery, #language {
  background-color: @base;
  color: @text;

  padding: 4px 16px;
  margin: 0 4px;

  border: 4px solid @crust;
  border-radius: 0px;
}

#workspaces button {
  border-color: @overlay0;
}

#workspaces button.active {
  border-color: @lavender;
}

#battery.charging {
  color: @green;
}

#battery.charge-9, #battery.charge-19 {
  color: @red;
}

