[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	signingKey = {{ .git.signing.key }}
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
	whitespace = error
	preloadIndex = true
[commit]
	gpgSign = {{ .git.signing.gpg }}
	verbose = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	features = catppuccin-mocha
	side-by-side = true
[merge]
	conflictStyle = zdiff3
	ff = false
[diff]
	colorMoved = default
	algorithm = histogram
	submodule = log
	renames = copies
[include]
	path = ~/.config/delta/themes/catppuccin-mocha.gitconfig
[status]
	branch = true
	showStash = true
	submoduleSummary = true
[submodule]
	recurse = true
[transfer]
	fsckObjects = true
[fetch]
	fsckObjects = true
	prune = true
[receive]
	fsckObjects = true
[log]
	date = iso
	abbrevCommit = true
[branch]
	sort = -committerdate
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[pull]
	ff = only
[tag]
	gpgSign = {{ .git.signing.gpg }}
	sort = -taggerdate
[alias]
	ci = commit
	reword = commit --amend
	st = status --short
	sw = switch
	co = checkout
	new = switch --create
	b = branch
	rename = branch --move
	del = branch --delete
	list = branch --all
	hist = log --graph --oneline --all
	undo = reset HEAD~
	unstage = reset HEAD
	m = merge
	ff = merge --ff
	changes = diff --cached
	kill = push --delete
